*{
    margin:unset;
    padding:unset;
    font-family: 'Open Sans', sans-serif;
}
.header-container{
    background: #023047;
    color:white;
    padding:20px;
    text-align: center;
}
.header-container h2{
    font-size: 34px;
    line-height: 50px;
    font-weight: 500;
}
body{
    background:#ffb703;
}
.card{
    background:white;
    color:black;
    max-width: 500px;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    padding:40px;
    position: relative;
    border-radius: 15px;
}
.num-display {
    background: #023047;
    position: absolute;
    color:white;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-parent{
    padding-left: 20px;
    padding-right: 20px;
}
.card-parent.card-reverse .card{
background:black;
color:white;
}

.header-button button{
    background:burlywood;
    border:unset;
    padding:10px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.feed-back-stats{
    max-width: 500px;
    margin:auto;
    padding:50px 10px 0px 10px;
}
.stats-h2{
    color:white;
    font-size: 20px;
}
.close-icon{
    border:unset;
    background:transparent;
    position:absolute;
    right: 0;
    top:0;
    padding:10px;
    font-size: 20px;
    cursor: pointer;
}
.feed-back-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.feedbackstats-right{
    text-align: right;
}
.btn{
    background: #ffb703;
color:white;
border:unset;
padding: 0px 15px;
height: 40px;
font-size: 16px;
cursor: pointer;
}
.btn-primary{
    background:#023047;
}
.input-group input{
    border: unset;
    height:40px;
    font-size: 16px;
    width: 100%;
    
}
.btn:disabled{
    background:gray;
}
.input-group input:focus{
    outline: none;
}
.input-group{
    display: flex;
    margin-top:30px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left:15px;
    border-top-right-radius: unset;
    border-bottom-right-radius:unset ;
}
.ps-msg{
    text-align:center;
    color:indigo;
    padding-top:20px;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 40px;
    list-style: none;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.rating li{
    position: relative;
}
.rating li label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 19px;
    height: 19px;
    padding: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating li {
    position: relative;
    background: #f4f4f4;
    width: 19px;
    height: 19px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    border: 1px #eee solid;
    transition: 0.3s;
}
.rating [type='radio']:checked ~ label {
    background: #ff6a95;
    color: #fff;
}
.rating input {
    flex-grow: 2;
    border: none;
    font-size: 16px;
}
.rating li:hover {
    background: #ff6a95;
    color: #fff;
}
[type='radio'] {
    opacity: 0;
}
.card-parent.card-reverse .rating li{
    color: black !important;;
}
.about-link{
    padding:20px;
    text-align:right;
    color:white;
}
.about-us p{
padding-top:20px;
}
.about-us a{
    margin-top:20px;
    display: block;
    text-decoration: none;
    color:coral;
}
.about-link a{
    color:white;
}